<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AJAX</title>
  </head>
  <body>
    AJAX 재밋겟다. 이히힣

    <div id="display"></div>
    <button id="allbtn">누르면 터집니다</button>
  </body>

  <script>
    document.getElementById("allbtn").addEventListener("click", (e) => {
      //   alert("뻥이야");

      // ajax 객체 만들기
      let request = new XMLHttpRequest();
      // 출력하는 함수
      //   alert(request);

      //  요청 생성
      request.open("GET", "../example/fbv/books", true);

      // 요청 전송
      request.send("");

      // 응답이 오면 호출
      request.addEventListener("load", (e) => {
        // alert(request.responseText);
        //    문자열을 자바스크립트 데이터로 변환
        //    객체들의 배열
        let data = JSON.parse(request.responseText);
        let txt = "";
        for (let item of data) {
          // alert(item.title)
          txt += "<h3>" + item.title + "</h3>";
          txt += "<p>" + item.price + "</p>";
          txt += "<p>" + item.published_date + "</p>";
        }
        document.getElementById("display").innerHTML = txt;

        // alert(data);
      });
    });
  </script>
</html>
